*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    background-color: white;
}
main {
    width: 100%;
    height: calc(100%-100px);
    background-color: grey;
    display: flex;
}
main nav {
    width: 100px;
    height: 800px;
    background-color: wheat;
}
h1 { 
    margin: 5px;
    font-size: 60px;
}
ul {
    list-style: none;
}

li {
    border: 1px solid #252525;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

figure{
    width: 100%;
    background-color: greenyellow;
}    

figure h1 {
    width: 300px;
    height: 70px;
    background-color: aqua;
    font-size: 55px;
    margin: 20px;
    padding: 5px;
}

figure h2 {
    width: 300px;
    height: 30px;
    background-color: aqua;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
}

figure section {
    width: 20vw;
	height: 65vh;
	position: absolute;
	left: 50%;
	top: 50%;		/* 세로 위치값 조절 */
	margin-top: -25vh; /* 세로 위치값 조절 */
	margin-left: -10vw;	
	transition: 1s;     
}

figure section article {
    width: 20vw;
	height: 65vh;
	position: absolute;
	top: 0px;
	left: 0px;
}

figure section article .inner {
    width: 100%;
	height: 100%;
	background: #f0f7ff;
	padding: 5vh 2.5vw 8vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: space-between; /*자식 콘텐츠의 안쪽 세로 여백을 균등 배치*/
	flex-wrap: wrap;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	opacity: 0.6; /*투명도를 낮춰서 비활성화*/
	transform: scale(0.8); /*축소시켜서 비활성화*/
	transition: opacity 1s, transform 1s; 
}

figure section article .box {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin: 20px;
    background-color: wheat;
}

figure section article .box2 {
    background-color: wheat;
    position: static;
    width: 260px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;   
}